:root {
    --primary: #081b29;
    --business: rgb(209, 33, 33);
    --personal: #081b29;
    --light: #EEE;
    --dark: #313154;
    --danger: #ff5b57;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgba(209, 33, 33, 0.75);
    --personal-glow: 0px 0px 4px rgba(8, 27, 41, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    background: var(--light);
    color: var(--dark);
}

.app {
    width: 100%;
    height: 10%;
    /* position: absolute; */
    top: 0;
    left: 0;
    border-radius: 0 0 50% 50%;
    background-color: #f9ea85;
} 

section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

h3 {
    color: var(--dark);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

h4 {
    color: grey;
    font-size: 9px;
    font-weight: 700;
    margin-bottom: 8px;
}

.greeting .title {
    display: flex;
}

.greeting .title input {
    margin-left: 8px;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title,
.greeting .title input {
    color: var(--dark);
    font-size: 24px;
    font-weight: 700;
}

.create-todo input[type="text"] {
    display:block;
    width: 100%;
    font-size: 17px;
    padding: 16px 24px;
    color: var(--dark);
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin-bottom: 24px;
}

.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    margin-bottom: 24px;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: var(--shadow);
    cursor: pointer;
}

input[type = "radio"],
input[type = "checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

label .bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

label .bubble.study {
    border-color: green;
    box-shadow: rgb(33, 61, 33);
}

.bubble::after {
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble.study::after {
    background-color: green;
    box-shadow: rgb(33, 61, 33);
}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity:1
} 

.create-todo .options label div {
    color: var(--dark);
    font-size: 17px;
    margin-top: 16px;
}

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 17px;
    padding: 16px 24px;
    color: aliceblue;
    background-color: var(--dark);
    border-radius: 8px;
    box-shadow: #050505;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
    opacity: 0.85;
}

.todo-list .list {
    margin: 16px 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 16px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin-bottom: 16px;
}

.todo-item label {
    display: block;
    margin-right: 16px;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: var(--dark);
    font-size: 17px;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 8px;
    border-radius: 4px;
    color: aliceblue;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 0.85;
}

.todo-item .actions .edit {
    background-color: var(--primary);
    margin-right: 8px;
}

.todo-item .actions .delete {
    background-color: var(--danger);
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: grey;
}